/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 12em 2fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

hr {
  margin: 2em 0;
}

/* header */
.header {
  background: #ffffff;
  grid-area: header;
  padding: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 3em 1fr;
  align-items: center;
}

.user-profile-header {
  display: grid;
  gap: 1em;
}

.search-bar {
  display: flex;
  gap: 1em;
  flex: 1;
  grid-row: 1;
}

.large-icon {
  max-height: 60px;
}

.small-icon {
  height: 25px;
  align-self: center;
}

.search-input {
  border-radius: 1em;
  background-color: #e2e8f0;
  border: none;
  flex: 1;
}

.user-info {
  display: flex;
  grid-column: 1;
  grid-row: 3;
  gap: 1em;
}

.profile-image #lion {
  max-height: 64px;
}

.profile-section {
  grid-row: 1;
  display: flex;
  padding: 0 0.75em;
  gap: 2em;
  justify-content: end;
}

.profile-picture {
  height: 30px;
}

.header-buttons {
  display: flex;
  grid-row: 3;
  gap: 0.75em;
}

button.btn {
  background-color: #1992d4;
  color: #ffffff;
  border: none;
  padding: 0.5em 2em;
  border-radius: 1em;
}

.btn:hover {
  background-color: #29aed6;
}

/* sidebar */

.aside {
  grid-area: sidebar;
  background-color: #1992d4;
  color: #ffffff;
  display: grid;
  grid-template-rows: 5em 1em 19em 1fr;
  padding: 1.75em;
}

.sidebar-header {
  display: flex;
  gap: 0 1em;
  grid-row: 1;
}

.sidebar-header > h1 {
  margin-top: 0.5em;
}

.navigation-items,
.other-options {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0.8em;
}

.navigation-items {
  grid-row: 3;
  grid-template-rows: repeat(6, 2em);
}

.navigation-icon {
  max-height: 23px;
  display: grid;
  gap: 1.4em;
}

.navigation-details {
  display: grid;
  gap: 1.34em;
}

.other-options {
  grid-row: 4;
  grid-template-rows: repeat(3, 1em);
}

/* main-content */
.main {
  grid-area: main;
  padding: 2em;
  background: #e2e8f0;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2.25em 1fr;
  gap: 1em 0;
}

.container {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  gap: 2em;
}

.box {
  padding: 2em 1em;
  border-left: 10px solid #f0b429;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.box-icon {
  display: flex;
  justify-content: end;
  gap: 2em;
}

.box-icon > img {
  height: 20px;
}

.project-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.project-details {
  color: #6b6b6b;
}

/* 2nd sidebar */
.announcements {
  padding: 2em;
  grid-row: 2;
  grid-column: 2;
  background: #ffffff;
}

.project-header,
.announcement-title {
  grid-row: 1;
}

.project-header {
  grid-column: 1;
}

.news-item {
  font-weight: 700;
}
